<%= stylesheet_link_tag "cadastro.css" %>

<body>
    <div class="container-login">
        <div class="content-box">
            <div class="form-box">
                <h2>Bem Vindo a BAGDEX</h2>
                <a class="btn btn-success" href="/users/sign_in" role="button">Entrar</a>
            </div>
        </div>
    </div>
</body>