<%=stylesheet_link_tag "bagmon.css"%>

<body>
    <div class="centered">
        <br>
        <h1>New Bagmon</h1>
        <hr>

        <%= render 'form', bagmon: @bagmon %>

        <%= link_to 'Back', bagmons_path, class:"btn btn-outline-danger" %>
    </div>
</body>